.baseClass {
  margin: 5px;
  width: 100px;
  height: 40px;
  background-color: transparent;
  color: #000;
  border-radius: 5px;
  border: 1;
  line-height: 2.5;
  padding: 0 10px;
  font-size: 1rem;
  box-shadow: inset 2px 2px 3px rgb(255 255 255 / 50%),
    inset -2px -2px 3px rgb(0 0 0 / 50%);
}
